<div class="app-container">
  <div class=" search search-middle" [class.search-top]="searchValue">
    <div class="row">
      <div class="col-xs-12">
        <img src="../assets/images/logo.png" width="20%">
      </div>
    </div>
    <div class="row">
      <div class="fullWidth" [class.col-xs-12]="searchValue" [class.col-md-6]="searchValue" [class.col-sm-6]="searchValue">
        <mat-form-field class="search-input">
          <input matInput type="text" placeholder="Type make your search" (keyup)="onSearch($event.target.value)" [(ngModel)]="searchValue" />
        </mat-form-field>
      </div>
    </div>
  <mat-progress-bar mode="query" *ngIf="isLoading" class="top-progress-bar"></mat-progress-bar>
  </div>
  <div class="results" *ngIf="searchValue && searchResult.length !== 0 ">
    <mat-card class="example-card col-xs-6 col-sm-3" *ngFor="let result of searchResult">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + result.owner.avatar_url + ')'}"></div>
        <mat-card-title>{{result.name}}</mat-card-title>
        <mat-card-subtitle>{{result.full_name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="dis">{{result.description}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>