.search{
    transition: .3s all ease-in-out;
    padding: 10px;
    img{
        margin-bottom: 21px;
    }
    .mat-input-placeholder, .mat-form-field-placeholder{
        transition: .2s visbility ease-in-out;
        display: none !important;
    }
    .mat-form-field-underline{
        height: 2px;
    }
    .search-input{
      width: 38%;
        .search-button{
            width: 42px;
            height: 22px;
            text-align: center;
            font-size: 21px;
            color: #009277;
        }
    }
    
.top-progress-bar{
    margin-left: -23px;
    margin-right: -23px;
}
}
.search-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-top: -109px;
    margin-left: -674.5px;
    text-align: center;

}
.search-top{
    position: fixed;
    z-index: 2;
    left: 0%;
    top: 0px;
    margin-top: 0;
    margin-left: 0;
    text-align: left;
    padding: 18px 18px 0px 24px; 
    background: #e8e9ef;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    
    img{
        margin-left: 2px;
        width: 8%;
    }  
    
    .search-input{
        width: 59%;
    }
}

.results{
    margin-top:134px; 
    .example-card {
        margin: 10px;
      }
      
      .example-header-image {
        background-size: cover;
      }
      .dis{
        white-space: nowrap; 
        width: 100%; 
        overflow: hidden;
        text-overflow: ellipsis; 
      }
}






